<div id="fb-root"></div>
<script>
  /* global FB, $ */
  'use strict';
  $(document).ready(function () {
    $('#reset-access-token').click(function () {
      $.post('/facebookconfigs/bygroup/<%= @facebook_config.group_id %>/clearfbaccesstoken',
        {},
        function () {
          window.location.reload(false);
        });
    });
  });

  window.fbAsyncInit = function() {
    FB.init({
      appId            : "<%= @facebook_config.facebook_app_id %>",
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };
  function onLogin() {
    FB.getLoginStatus(function(response) {
      console.log(response);
      if (response.authResponse && response.authResponse.accessToken) {
        var accessToken = response.authResponse.accessToken;
        $.post('/facebookconfigs/bygroup/<%= @facebook_config.group_id %>/updatefbaccesstoken/',
          {
            'fbaccesstoken': accessToken
          },
          function () {
            window.location.reload(false);
          });
      }
    });
  }


  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    
    fjs.parentNode.insertBefore(js, fjs);

  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="show-registrations">
  <h3>Facebook Configs</h3>
  <p>
    <strong>Facebook App ID:</strong>
    <%= @facebook_config.facebook_app_id %>
  </p>

  <%- if !@facebook_config.facebook_app_secret.nil? %>
    <p>
      <strong>Facebook App Secret:</strong>
      <%= @facebook_config.facebook_app_secret %>
    </p>
  <% end %>

  <p>
    <%- if @facebook_config.user_app_token.nil? %>
      <fb:login-button
        scope="public_profile,email,ads_management,ads_read"
        onlogin="onLogin();"
        usecontinueas="true"
        size="large"
        auto-logout-link="false"
        buttontype="login_with"
        >
      </fb:login-button>
    <% else %>
      User access token saved for this configuration.
      <button id="reset-access-token">
        Reset Access Token
      </button>
      <%= form_tag(
        :controller => 'facebookconfigs',
        :action => "clear_fb_access_token",
        :params => {:groupid => @facebook_config.group_id},
        :method => "post") do |f|%>
      <% end %> 
      </form>
    <% end %>
  </p>

</div>
